@font-face {
    font-family: 'Nudica';
    src: url('NudicaMono-Medium.woff2') format('woff2'),
        url('NudicaMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}