@font-face {
    font-family: 'MODERNIZ';
    src: url('MODERNIZ.woff2') format('woff2'),
        url('MODERNIZ.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

